*, html, body {
  margin: 1;
  padding: 0;


}

header {
  background-color: black;
  height: 60px;
  line-height: 10px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

header nav {
  float: right;
}

.logo img {
  margin-top: -50px;
  margin-left: -70px;
}

header nav ul li a {
  padding-right: 30px;
  font-weight: bolder;
    color: Red;
    transition: all .5s ease-in;
}

header nav ul li a:hover {

  color: white;

}
body{
  background-image: url("./image/MainPage.jpg");
  background-size: 100% 100%;
}



/* .imagebg{

} */

span{
  color: Orange;
}

.fa {
font-size: 50px;
color: white;
}
.alignment{
  text-align: center;
  color: white;
}

.textcolor{
  color: white;

}
